name: Source Composition Analysis Scan
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  security-sca:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      
      - name: Setup local.properties
        run: |
          cat << EOF >> local.properties
          sdk.dir=$ANDROID_HOME
          EOF
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/setup@master
      
      - name: Snyk test
        run: snyk test --all-sub-projects --fail-on=all
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}